.noResult, .results {
  display: none;
}

body {
  background-image: url('https://i.imgur.com/BrJlWgM.png');
}

.header {
  text-align: center;
  margin: auto;
  background-color: #ffa257;
  background-size: cover;
  padding-bottom: 3px;
  padding-top: 3px;
  width: auto;
  margin-bottom: 10px;
  opacity: .9;
}

form {
  text-align: center;
}

.results {
  margin: 15px;
}

p {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}
.docDiv{
  padding: 5px;
}
.docDiv:hover {
  outline: 4px solid #00b1f7;
}
.website {
  font-size: 15px;
}
